openapi: 3.0.0
info:
  title: CRUD API's
  version: 1.0.0
servers:
  - url: http://localhost:8080
paths:
  /api/v1/book:
    patch:
      summary: Add a books
      parameters:
        - in: body
          name: book
          description: The book object to add
          required: true
          schema:
            type: object
            properties:
              title:
                type: string
              author:
                type: string
              publication_date:
                type: string
                format: date
              description:
                type: string
      responses:
        200:
          description: Using this endpoint, we can add books. This API contains the mandatory fields title, author, publication_date, and description.
    get:
      summary: Get All Book
      responses:
        200:
          description: Using this endpoint, we can get all book. This API provides detail about all book.
    
  /api/v1/book/{bookId}:
    get:
      summary: Get Book by bookId
      parameters:
      responses:
        200:
          description: Using this endpoint, we can get any book. This API provides detail about any particular book.
    patch:
      summary: Update Any Book with bookId
      parameters:
        - in: body
          name: book
          description: The book object to update
          required: true
          schema:
            type: object
            properties:
              title:
                type: string
              author:
                type: string
              publication_date:
                type: string
                format: date
              description:
                type: string
      responses:
        200:
          description: Using this endpoint, we can update any book. This API helps in updating any book.
  /api/v1/auth/signup:
    patch:
      summary: Register User
      parameters:
        - in: body
          name: User Registration
          description: End point for User Registration
          required: true
          schema:
            type: object
            properties:
              firstName:
                type: string
              lastName:
                type: string
              email:
                type: string
              password:
                type: string
              role:
                type: string
              gender:
                type: string
      responses:
        200:
  
  /api/v1/auth/login:
    patch:
      summary: Login to the application
      parameters:
        - in: body
          name: User Login
          description: This Endpoint takes user email and password to login
          required: true
          schema:
            type: object
            properties:
              email:
                type: string
              password:
                type: string
      responses:
        200:
        description: This Endpoint takes user email and password to login

  /api/v1/auth/logout:
    patch:
      summary: Logout
      responses:
        200:
        description: This Endpoint for logout by removing cookies.

  /api/v1/auth/user-details:
    patch:
      summary: Get details of logged in user
      responses:
        200:
        description: This Endpoint give details of loggedIn user
    
